@page
@model             DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WaterParameter</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WaterParameter.Temperature)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WaterParameter.Temperature)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WaterParameter.PH)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WaterParameter.PH)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WaterParameter.Co2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WaterParameter.Co2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WaterParameter.No2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WaterParameter.No2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WaterParameter.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WaterParameter.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WaterParameter.Pond)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WaterParameter.Pond.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="WaterParameter.PondId" />
        <input type="hidden" asp-for="WaterParameter.CheckDate" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
