@page
@model KoiCareSystem.Pages.CustomerPage.ManagePond.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pond</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pond.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pond.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pond.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pond.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pond.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pond.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pond.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pond.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pond.Deleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pond.Deleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pond.Account)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pond.Account.Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Pond.Id">Edit</a> |
    <a asp-page="/CustomerPage/Index">Back to List</a>
</div>
