@page
@model KoiCareSystem.Pages.OrderDetailPage.IndexModel

@{
    ViewData["Title"] = "Order Details";
}

<h1>Order Details</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails[0].OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails[0].FoodItemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails[0].Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderDetails)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodItemId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
