@page
@model KoiCareSystem.Pages.FoodItemPage.IndexModel

@{
    ViewData["Title"] = "Food Items";
}

<h1>Food Items</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodItems[0].FoodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodItems[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodItems[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodItems[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FoodItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
