@page
@model KoiCareSystem.Pages.FeedingPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Feeding</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feeding.PondFeedingId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feeding.PondFeedingId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feeding.FoodType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feeding.FoodType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feeding.FeedAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feeding.FeedAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feeding.FeedingTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feeding.FeedingTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feeding.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feeding.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Feeding.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
